
.innerpage-wrap {

	.sec-head-title {

		h1 {
			font-size: 50px;

			@include breakpoint(tablet) {
				font-size: 42px;
			}

			@include breakpoint(tablet2) {
				font-size: 32px;
			}
		}

		p {
			opacity: 0.80;
		}
	}
}

.contact-wrap {
	
	.contact-info-text {
		font-size: 16px;
		color: $coGreen;
		margin-top: 20px;

		@include breakpoint(phablet) {
			line-height: 18px;
		}

		a {
			margin: 0px 20px;
			display: inline-block;
			color: $coGreen;

			@include breakpoint(phablet) {
				font-size: 12px;
				line-height: 18px;
			}

			&:hover {
				color: $coLightGreen;
			}
		}
	}


	.contact-form-wrap {
		max-width: 610px;
		margin: 0 auto;
		background: #FFFFFF;
		border: 1px solid #D5D5D5;
		border-radius: 20px;
		padding: 30px 50px;
		margin-top: 50px;

		@include breakpoint(tablet) {
			padding: 30px 40px;
			margin-top: 40px;
		}

		@include breakpoint(phablet) {
			padding: 30px 20px;
			margin-top: 30px;
		}
	}
}


.contact-form-wrap {

	p {

		small {
			text-align: center;
			display: block;
			font-size: 10px;

			@include breakpoint(mobile) {
				font-size: 9px;
			}
		}
	}

	.input-wrap {

		&:last-child {
			margin-bottom: 0;
		}
		
		textarea {
			height: auto;
			max-height: 250px;
			min-height: 120px;
			overflow: hidden;

			@include breakpoint(phablet) {
				min-height: 40px;
			}
		}

		&.error {
		
			input[type="text"], input[type="tel"], input[type="email"] {
				border-bottom: 1px solid #d2181c;
			}		
		}

		input[type="text"], input[type="tel"], input[type="email"], textarea {
			border-bottom: 1px solid #eaeaea;
			padding-left: 0;
			color: $defaultColor;
			font-weight: 300;


			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $defaultColor;
			  opacity: 0.20;
			  font-size: 18px;
			  font-weight: 300;

			  @include breakpoint(phablet) {
			  	font-size: 16px;
			  }

			  @include breakpoint(mobile) {
			  	font-size: 14px;
			  }
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $defaultColor;
			  opacity: 0.20;
			  font-size: 18px;
			  font-weight: 300;

			  @include breakpoint(phablet) {
			  	font-size: 16px;
			  }

			  @include breakpoint(mobile) {
			  	font-size: 14px;
			  }
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $defaultColor;
			  opacity: 0.20;
			  font-size: 18px;
			  font-weight: 300;

			  @include breakpoint(phablet) {
			  	font-size: 16px;
			  }

			  @include breakpoint(mobile) {
			  	font-size: 14px;
			  }
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $defaultColor;
			  opacity: 0.20;
			  font-size: 18px;
			  font-weight: 300;

			  @include breakpoint(phablet) {
			  	font-size: 16px;
			  }

			  @include breakpoint(mobile) {
			  	font-size: 14px;
			  }
			}
		}
	}


	.btn {
		margin-top: 5px;
		background: $coLightGreen;
		border: 1px solid $coLightGreen;
		color: $coWhite;
		font-size: 20px;
		min-width: 198px;
		padding-top: 14px;
		padding-bottom: 14px;

		@include breakpoint(phablet) {
			min-width: 132px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
		}

		&:hover {
			background: $coOrange;
			border: 1px solid $coOrange;
		}
	}
}