// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; background: #424559; padding: 50px 0 50px; text-align: center; }

.copyright {
	font-size: 12px;
	opacity: 0.4;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
	margin-top: 15px;
}

.m-b-space {
	margin-bottom: 20px;

	@include breakpoint(tablet2) {
		margin-bottom: 10px;
	}
}

.manulife-logo {
	display: inline-block;
	margin-bottom: 35px;
}


.social-wrap {

	padding: 25px 0;
	border: 1px solid rgba(217, 218, 222, 0.24);
	border-left: none;
	border-right: none;
	max-width: 520px;
	margin: 0 auto 25px;

	ul {
		text-align: center;
		margin-bottom: 0;

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		li {
			display: inline-block;
			width: 24%;

			text-align: center;
			padding: 0px 15px;

			@include breakpoint(tablet2) {
				padding: 0px 10px;
			}

			a {
				font-size: 22px;
				opacity: 0.8;


				span {
					display: block;
					opacity: 0.8;

					&.fa {
						position: relative;
						top: -2px;

						@include breakpoint(tablet2) {
							top: -3px;
						}
					}
				}

				&:hover {
					opacity: 1;
					color: #F5A623;

					span {
						color: #F5A623;
						opacity: 1;
					}
				}

				.icon-instagram {
					font-size: 20px;

					@include breakpoint(tablet2) {
						font-size: 22px;
					}
				}

				.icon-linkedin, .icon-youtube {
					font-size: 28px;

					@include breakpoint(tablet2) {
						font-size: 28px;
						position: relative;
						top: 1px;
					}
				}

				.icon-youtube {
					font-size: 19px;
					position: relative;
					top: 1px;

					@include breakpoint(tablet2) {
						top: 0px;
						font-size: 22px;
					}
				}

				span {
					color: $coWhite;
				}

				@include breakpoint(tablet2) {
					font-size: 24px;
				}
			}
		}
	}
}

.top-footer, .sitemap-wrap {
	padding-bottom: 15px;
	margin-bottom: 15px;

	ul {

		@include breakpoint(phablet) {
			margin: 0px -15px;
		}

		li {
			display: inline-block;
			position: relative;
			padding: 0px 2px ;

			@include breakpoint(phablet) {
				line-height: 14px;
				margin-bottom: 8px;
			}


			&:last-child {

				&:after {
					display: none;
				}
			}

			&:after {
				content:'';
				display: block;
				position: absolute;
				height: 100%;
				width: 1px;
				top: 0;
				right: -2px;
				max-height: 15px;
				background: rgba(255, 255, 255, 0.3);
				z-index: 10;
				top: 50%;
				margin-top: -7px;

				@include breakpoint(phablet) {
					line-height: 18px;
				}
			}

			a {
				font-size: 12px;
				color: #e1e1e1;
				line-height: 18px;
				font-weight: 400;
				padding: 0px 10px;

				&:hover {
					color: #F5A623;
				}

				@include breakpoint(phablet) {
					font-size: 12px;
					padding: 0px 5px;
				}

				@include breakpoint(mobile) {
					font-size: 10px;
					padding: 0px 5px;
				}
				
			}
		}
	}
}

.sitemap-wrap {
	border-bottom: none;
	margin-bottom: 0;
}
