// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; background: #424559; padding: 30px 0 50px; text-align: center; }

.copyright {
	font-size: 12px;
	opacity: 0.4;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 18px;
}

.social-wrap {

	ul {
		text-align: center;
		margin-bottom: 30px;

		@include breakpoint(phablet) {
			margin-bottom: 15px;
		}

		li {
			display: inline-block;
			text-align: center;
			padding: 0px 15px;

			@include breakpoint(tablet2) {
				padding: 0px 10px;
			}


			a {
				font-size: 30px;
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}

				@include breakpoint(tablet2) {
					font-size: 24px;
				}
			}
		}
	}
}

.top-footer, .sitemap-wrap {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 15px;
	margin-bottom: 25px;

	ul {

		@include breakpoint(phablet) {
			margin: 0px -15px;
		}

		li {
			display: inline-block;
			position: relative;
			padding: 0px 2px;

			@include breakpoint(phablet) {
				line-height: 14px;
			}


			&:last-child {

				&:after {
					display: none;
				}
			}

			&:after {
				content:'';
				display: block;
				position: absolute;
				height: 100%;
				width: 1px;
				top: 0;
				right: -2px;
				background: rgba(255, 255, 255, 0.3);
				z-index: 10;

				@include breakpoint(phablet) {
					line-height: 18px;
				}
			}


			a {
				font-size: 16px;
				color: #e1e1e1;
				line-height: 18px;
				font-weight: 400;
				padding: 0px 10px;

				&:hover {
					color: #fff;
				}

				@include breakpoint(phablet) {
					font-size: 12px;
					padding: 0px 5px;
				}

				@include breakpoint(mobile) {
					font-size: 10px;
					padding: 0px 5px;
				}
				
			}
		}
	}
}

.sitemap-wrap {
	border-bottom: none;
	margin-bottom: 0;
}
