// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin: 0 auto; }
#main-container { height:100%; height: auto !important; min-height:100%; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	position: fixed;
	z-index: 888;
	width: 100%;
	background: #f2f2f2;
	padding-bottom: 15px;

	@include breakpoint(tablet) {
		height: 80px;
		padding-bottom: 0;
	}

	@include breakpoint(tablet2) {
		height: 60px;
		padding-bottom: 0;
	}

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}

nav {
	padding-top: 25px;
	float: left;

	@include breakpoint(tablet) {
		display: none;
	}

	ul {

		li {
			display: inline-block;
			padding: 0px 20px;

			@include breakpoint(desktop) {
				padding: 0px 15px;
			}

			a {
				opacity: 0.6;
				color: #424559;
				font-size: 14px;

				&:hover {
					opacity: 1;
				}
			}


			&.active {

				a {
					opacity: 1;
					font-weight: 400;
				}
			}
		}
	}
}


.logo {
	position: absolute;
	left: 50%;
	width: 216px;
	margin-left: -108px;
	top: 15px;

	@include breakpoint(tablet2) {
		width: 150px;
		margin-left: -75px;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

}

.head-btn {
	float: right;
	margin-top: 15px;
	padding-right: 25px;

	@include breakpoint(tablet) {
		display: none;
	}

	.btn-early-access {
		border: 1px solid #ccc;
		border-radius: 42px;
		font-size: 16px;
		color: #424559;

		figure {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			position: relative;
			top: -2px;
		}

	}

	.btn-get-app {
		background: #008A50;
		color: $coWhite;
		border: 1px solid #008A50;
		margin-right: -50px;
		padding-right: 50px;
		@include transition(padding 0.4s ease);
		font-size: 16px;

		&:hover {
			padding-right: 80px;
		}
	}
}

.section-nav {
	position: fixed;
	top: 0;
	z-index: 999;
	right: 20px;
	height: 100vh;
}

.sn-menu {
	position: relative;
	top: 50%;
	@include transform(translate(0, -50%));

	@include breakpoint(tablet) {
		display: none;
	}

	ul {

		li {
			display: block;
			float: none;
			padding: 8px 5px;
			position: relative;
			height: 35px;
			@include transition(all 0.4s ease);
			transform-origin: bottom;

			&:after {
				content:'';
				display: block;
				height: 0px;
				border-left: 1px solid #ccc;
				position: absolute;
				left: 50%;
				bottom: 0;
				margin-left: -0.5px;
				@include transition(all 0s 0s linear);
				opacity: 1;
				transform-origin: bottom;

			}

			&.active {
				height: 90px;

				&:after {
					height: 60px;
					@include transition(all 0.4s linear);
					opacity: 1;
				}
			}

			a {
				display: block;
				color: $defaultColor;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 1px;
			}
		}
	}
}


.mobile-menu {
	display: none;

	@include breakpoint(tablet) {
		position: fixed;
		opacity: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px 0 0;
		visibility: visible;
		max-width: 280px;
		background: linear-gradient(#01bc75, #016d39);
		@include transform(translate(-280px, 0))
		@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
		overflow: auto;
		z-index: 3001;
		display: block;

		&.active {
			@include transform(translate(0px, 0))
		}

		nav {
			width: 100%;
			display: block;

			ul {
				padding: 25px 0 100px;

				li {
					display: block;
					float: none;
					clear: both;
					text-align: center;
					padding: 15px 0;

					a {
						font-size: 24px;
						color: $coWhite;
						opacity: 1;
					}
				}
			}
		}

		.head-btn {display: block;
			float: none;
			clear: both;
			text-align: center;
			padding-right: 0;
			position: absolute;
			bottom: 50px;
			transform: translate(-50%, 0);
			left: 50%;
			width: 190px;


			.btn-early-access {
				color: $coWhite;
			}
		}
	}


}


.header-hamburger {
	display: none;
	float: left;
	position: fixed;
	cursor: pointer;
	z-index: 3005;
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 22px 25px;
	left: 0px;
	top: 10px; 
	@include transform(translate(0, 0));
	@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
	outline: none;

	&.active {
		@include transform(translate(220px, 0));
	}

	@include breakpoint(tablet) {
		display: block;

	}

	@include breakpoint(tablet2) {
		top: 4px;
	}
}

.header-hamburger span, .header-hamburger span:after, .header-hamburger span:before {
	content: '';
	cursor: pointer;
	height: 2px;
	width: 20px;
	background: $defaultColor;
	position: absolute;
	display: block;
	@include transition(all 0.2s ease-in-out);
	@include transform(rotate(0deg));
}

.header-hamburger span {
	  right: 15px;
	  top: 22px;
}

.header-hamburger span:before {
  	top: -7px;
  	background: transparent !important;

}

.header-hamburger span:after {
  	top: 7px;
}

.header-hamburger.active {
	background: transparent;
}

.header-hamburger.active span {
  	background: transparent !important;
}

.header-hamburger.active span:before, .header-hamburger.active span:after {
  	top: 0;
  	background: $coWhite;
}

.header-hamburger.active span:before {
  	@include transform(rotate(45deg));
  	background: $coWhite !important;
}

.header-hamburger.active span:after {
 	@include transform(rotate(-45deg));
}

.innerpage-wrap {
	padding: 60px 0;
}

.inner-bg {
	background: linear-gradient(#f3f3f3, #ededed);
}